<h2>この内容で投稿しますか？</h2>

<%= form_with(model: @picture, local: true, url: pictures_path) do |f| %>
  <%= image_tag @picture.image.url if @picture.image && @picture.image.url %>
  <%= f.hidden_field :image_cache %>

  <%= f.hidden_field :content %>
  <p>内容：<%= @picture.content %></p>

  <%= f.submit %>
  <%= f.submit '戻る', name: 'back' %>
<% end %>
